@keyframes ldio-xq51y9d3mce {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-xq51y9d3mce div { box-sizing: border-box!important }
.ldio-xq51y9d3mce > div {
  position: absolute;
  width: 144px;
  height: 144px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 16px solid #000;
  border-color: #1d3f72 transparent #1d3f72 transparent;
  animation: ldio-xq51y9d3mce 1s linear infinite;
}

.ldio-xq51y9d3mce > div:nth-child(2), .ldio-xq51y9d3mce > div:nth-child(4) {
  width: 108px;
  height: 108px;
  top: 46px;
  left: 46px;
  animation: ldio-xq51y9d3mce 1s linear infinite reverse;
}
.ldio-xq51y9d3mce > div:nth-child(2) {
  border-color: transparent #5699d2 transparent #5699d2
}
.ldio-xq51y9d3mce > div:nth-child(3) { border-color: transparent }
.ldio-xq51y9d3mce > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-xq51y9d3mce > div:nth-child(3) div:before, .ldio-xq51y9d3mce > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 48px;
  background: #1d3f72;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #1d3f72;
}
.ldio-xq51y9d3mce > div:nth-child(3) div:after {
  left: -16px;
  top: 48px;
  box-shadow: 128px 0 0 0 #1d3f72;
}

.ldio-xq51y9d3mce > div:nth-child(4) { border-color: transparent; }
.ldio-xq51y9d3mce > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-xq51y9d3mce > div:nth-child(4) div:before, .ldio-xq51y9d3mce > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: -16px;
  left: 30px;
  background: #5699d2;
  border-radius: 50%;
  box-shadow: 0 92px 0 0 #5699d2;
}
.ldio-xq51y9d3mce > div:nth-child(4) div:after {
  left: -16px;
  top: 30px;
  box-shadow: 92px 0 0 0 #5699d2;
}
.loadingio-spinner-double-ring-282y8g44jqz {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-xq51y9d3mce {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-xq51y9d3mce div { box-sizing: content-box; }

.loader {
  position: fixed;
  top: 30%;
  left: 40%;
  display: none;
}